<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>

  <!-- Opciones seleccionables del encabezado -->
  <ion-segment scrollable 
               mode="md" 
               color="primary"
               [value]="selectedCategory"
               (ionChange)="segmentChanged($event)">

    <ion-segment-button mode="md"
                        *ngFor="let categoria of categorias" 
                        [value]="categoria" >
      <ion-label text-capitalize >{{ categoria }}</ion-label>
    </ion-segment-button>

  </ion-segment>

</ion-header>

<ion-content [fullscreen]="true" color="dark">

  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content>
