<!-- mode="ios: Tomará los estilos de IOS y tambien lo centrará el encabezado -->
<!-- class="ion-no-border": Quita el borde de del encabezado -->
<ion-header [translucent]="true" 
            mode="ios"
            class="ion-no-border">
  <ion-toolbar  color="dark">
    <ion-title>
      Fabricio New's
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">

<!--  
  Componente principal de Noticias, este muestra el conjunto de noticias.
  Parametros: 
    - noticias: Array de noticias
 -->
<app-noticias [noticias]="noticias"></app-noticias>

</ion-content>
